@{
    ViewData["Title"] = "Forgot Password Confirmation Page";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";

}

<main class="container-fluid">
    <div class="row main-div">
        <section class="login-form col-md-12 d-flex justify-content-center align-item-center h-full">
            <div class="m-auto col-md-8 login-container">
                <div class="d-flex flex-row justify-content-center align-item-center mb-5 fs-3 mt-5">
                    <img src="~/images/pizzashop_logo.png" alt="pizashop-logo" class="img-fliud pizza-logo" />
                    <div class="brand-name mt-1"><b>PIZZASHOP</b></div>
                </div>
                <h4>ForgotPassword Confirmation</h4>
                <p class="mt-4">Check your Confirmation Mail and Reset your Password.</p>
            </div>
        </section>
    </div>
</main>