@{
    ViewData["Title"] = "Forgot Password Page";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@model PizzaShop.Entity.ViewModels.ForgotPasswordModel;

<main class="container-fluid">
    <div class="row main-div">
        <section class="login-form col-md-12 d-flex justify-content-center align-item-center h-full">
            <div class="m-auto col-md-8 login-container">
                <div class="d-flex flex-row justify-content-center align-item-center mb-5 fs-3 mt-5">
                    <img src="~/images/pizzashop_logo.png" alt="pizashop-logo" class="img-fliud pizza-logo" />
                    <div class="brand-name mt-1"><b>PIZZASHOP</b></div>
                </div>
                <h4>Forgot Password</h4>
                <p class="mt-4">
                    Enter Your Email and we'll send you a link to reset your password.
                </p>
                <form asp-action="ForgotPassword" asp-controller="Auth" class="mb-5 mt-3">
                    <div class="mb-3 d-flex">
                        <input asp-for="Email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="Email*" />
                        <i class="fa-solid fa-user login-icon"></i>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <button type="submit" class="fill-btn border-0 col-12 p-1 mt-3">
                        Send
                    </button>
                    <div class="d-flex justify-content-center mt-2 underlin-0">
                        <a asp-action="Login" asp-controller="Auth"> Back to Login </a>
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>

@section Scripts {
    <script>
        $(document).ready(function () {
            let email = new URLSearchParams(window.location.search).get('email');
            console.log(email);
            if (email) {
                $("#email").val(email);
            }
        })
    </script>
}