@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@model PizzaShop.Entity.ViewModels.ResetPasswordModel;

<section class="login-form col-md-9 d-flex justify-content-center align-item-center h-full">
    <div class="m-auto col-10 col-md-8 login-container">
        <div class="d-flex flex-row justify-content-center align-item-center mb-5 fs-3 mt-5">
            <img src="~/images/pizzashop_logo.png" alt="pizashop-logo" class="img-fliud pizza-logo" />
            <div class="brand-name mt-1"><b>PIZZASHOP</b></div>
        </div>
        <h4>Reset Your Password</h4>
        <form asp-action="ResetPassword" asp-controller="Auth" class="mb-5 mt-4">
            <div class="d-flex my-3">
                <input type="password" asp-for="NewPassword" class="form-control input-psw" id="InputNewPsw"
                    placeholder="New Password*">
                <i class="fas fa-eye login-icon" onclick="togglePassword('InputNewPsw', this)"></i>
            </div>
            <span for="InputNewPsw" asp-validation-for="NewPassword" class="text-danger mb-3"></span>
            <div class="d-flex my-3">
                <input type="password" asp-for="ConfirmNewPassword" class="form-control input-psw"
                    id="InputNewConfirmPsw" placeholder="Confirm New Password*">
                <i class="fas fa-eye login-icon" onclick="togglePassword('InputNewConfirmPsw', this)"></i>
            </div>
            <span for="InputNewPsw" asp-validation-for="ConfirmNewPassword" class="text-danger mb-3"></span>
            <button type="submit" class="fill-btn border-0 col-12 p-1 mt-3">
                Submit
            </button>
            <div class="d-flex justify-content-center mt-2 underlin-0">
                <a asp-action="Login"> Back to Login </a>
            </div>
            <p id="message text-danger">
                @TempData["ErrorMessage"]
                @TempData["FailMessage"]
            </p>
        </form>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var errorMessage = '@TempData["ErrorMessage"]';
        var failMessage = '@TempData["FailMessage"]';

        if (errorMessage || failMessage) {
            window.location.href = "/Home/Error";
        }
    });
</script>