@{
    ViewData["Title"] = "ChangePassword";
}
@model PizzaShop.Entity.ViewModels.ChangePasswordViewModel;

<div class="container-fluid row">
    <h1 class="page-title p-0">Change Password</h1>
    <p class="text-secondary">Enter a new password to update your account credentials</p>

    <div class="col-md-5">
        <form asp-action="ChangePassword" asp-controller="User" class="mb-5 needs-validation mt-4" id="loginForm"
            novalidate>
            <div class="d-flex">
                <input asp-for="CurrentPassword" type="password" class="form-control" id="CurrentPassword"
                    aria-describedby="emailHelp" placeholder="Current Password*" />
                <div class="position-">
                    <i class="fa-solid fa-eye login-icon position-absolute"
                        onclick="togglePassword('CurrentPassword', this)"></i>
                </div>
            </div>
            <span asp-validation-for="CurrentPassword" class="text-danger mb-3 mx-1"></span>
            <div class="d-flex">
                <input asp-for="NewPassword" type="password" class="form-control" id="NewPassword"
                    aria-describedby="emailHelp" placeholder="New Password*" />
                <div class="position-">
                    <i class="fa-solid fa-eye login-icon position-absolute"
                        onclick="togglePassword('NewPassword', this)"></i>
                </div>
            </div>
            <span asp-validation-for="NewPassword" class="text-danger mb-3 mx-1"></span>
            <div class="d-flex">
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" id="ConfirmNewPassword"
                    aria-describedby="emailHelp" placeholder="Confirm New Password*" />
                <div class="position-">
                    <i class="fa-solid fa-eye login-icon position-absolute"
                        onclick="togglePassword('ConfirmNewPassword', this)"></i>
                </div>
            </div>
            <span asp-validation-for="ConfirmNewPassword" class="text-danger mb-3 "></span>
            <div class="mt-3">
                <button class="fill-btn" type="submit">
                    Submit
                </button>
                <button class="outline-btn" type="button"
                    onclick="window.location.href = '@Url.Action("AdminDashboard", "Home")'">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>